<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmhweb.ssm.mapper.ItemMapper">
    <resultMap id="resultList" type="cn.lmhweb.springmvc.module.Item">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="detail" property="detail"/>
        <result column="pic" property="pic"/>
    </resultMap>

    <select id="queryAllItems" resultMap="resultList">
        select id,name,price,detail,pic,createtime from items
    </select>
</mapper>
